<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Green D-Ex</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
        <style>
            .margin-top {
                margin-top: 30px;
            }
            .medium-margin-top {
                margin-top: 60px;
            }
        </style>
		<div class="container">
        <div class="row margin-top">
            <div class="col-md-12">
				<img src="https://image.flaticon.com/icons/png/512/1255/1255165.png" width="48" height="48"></img>
                <h1>Welcome to Green D-Ex, {{pk}}!</h1>
                <h4 style="color: darkgray">Your Local Decentralized Exchange for all things sustainable!</h4>
            </div>
        </div>
		<div class="row small-margin-top">
            <div class="col-md-12">
				<table border=2>
				<tr>
					
					<td><a href="/portfolio" class="btn">Your Portfolio</a></td>
					<td><a href="/offers" class="btn">Listed Offers</a></td>
					<td><a href="/buy" class="btn">Make Buy Offer</a></td>
					<td><a href="/sell" class="btn">Make Sell Offer</a></td>
				</tr>
				</table>
			</div>
		</div>
</body>
</html>